#the-form input[name="Other"] { width: 7em; }
#the-form input[name="OpCall"] { width: 7em; }
#the-form input[name="OpName"] { width: 15em; }
#the-form input[name="OpDate"] { width: 8em; }
#the-form input[name="OpTime"] { width: 8em; }
