#loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:#eeeeee;
}

#loading > div {
    color: #aaaaaa;
    font-size: xx-large;
    margin-left: 4px;
    opacity: 0;
}

#spin {
    display: inline-block;
    margin-left: 1em;
    width:256px;
    height:20px;
    overflow:hidden;
    background-color:#A8EAA8;
    moz-border-radius:10px;
    webkit-border-radius:10px;
    o-border-radius:10px;
    ms-border-radius:10px;
    border-radius:10px;
}

.spin{
    background-color:#aaaaaa;
    margin-top:0;
    margin-left:-256px;
    moz-animation-name:bounce_spin;
    moz-animation-duration:2.0s;
    moz-animation-iteration-count:infinite;
    moz-animation-timing-function:linear;
    webkit-animation-name:bounce_spin;
    webkit-animation-duration:2.0s;
    webkit-animation-iteration-count:infinite;
    webkit-animation-timing-function:linear;
    o-animation-name:bounce_spin;
    o-animation-duration:2.0s;
    o-animation-iteration-count:infinite;
    o-animation-timing-function:linear;
    ms-animation-name:bounce_spin;
    ms-animation-duration:2.0s;
    ms-animation-iteration-count:infinite;
    ms-animation-timing-function:linear;
    animation-name:bounce_spin;
    animation-duration:2.0s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    width:256px;
    height:20px;
}

@-moz-keyframes bounce_spin{
    0% { margin-left:-256px; }
    100% { margin-left:256px; }
}

@-webkit-keyframes bounce_spin{
    0% { margin-left:-256px; }
    100% { margin-left:256px; }
}

@-o-keyframes bounce_spin{
    0% { margin-left:-256px; }
    100% { margin-left:256px; }
}

@-ms-keyframes bounce_spin{
    0% { margin-left:-256px; }
    100% { margin-left:256px; }
}

@keyframes bounce_spin{
    0% { margin-left:-256px; }
    100% { margin-left:256px; }
}
