#form-data {
    /*display : block;*/
    display: none;
    font-family: monospace;
    white-space: pre;
    border: 2px solid black;
    width: 100%;
}

form :invalid {
  box-shadow: 0 0 5px 1px red;
}

form :focus:invalid {
  outline: none;
}

form fieldset:invalid {
    box-shadow: none;
}
