#form-data {
    /*display : block;*/
    display: none;
    font-family: monospace;
    white-space: pre;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}
